body {
    padding-top: 50px;
}

.auth-box {
    border: solid 1px #d8d8d8;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.even-day {
    background-color: #f9f9f9;
}

.weekend > td {
    font-weight: bold;
}